.posts {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.leftSider {
  padding: 10px;
  flex: 0.2;
  background: rgb(238, 236, 236);
  border-radius: 10px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
}

.topsider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}

.topsider > h6 {
  color: lightgray;
  margin-top: -15px;
  font-size: 15px;
}

.topsider > h5 {
  margin-top: 10px;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f0eeec;
  padding: 50px;
  font-size: 15px;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar_image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.statistics > ul > li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.statistics > ul > li > span {
  color: rgb(255, 123, 0);
}

.icon {
  margin-right: 10px;
}

.edit_button {
  margin-top: 10px;
  height: 35px;
  width: 100%;
  background: none;
  outline: none;
  border-radius: 20px;
  border: 2px solid #fa65b1;
}

.mainContent {
  flex: 0.6;
}

.search {
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.searchicon {
  font-size: 30px;
  margin-right: 15px;
}

.search > input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  font-size: large;
  margin-right: 15px;
  margin-left: 20px;
}

.createPost {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.createFormAvatar {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.createPost > input {
  width: 100%;
  border: none;
  outline: none;
  margin-left: 5px;
  font-size: large;
}

.imagebtn {
  font-size: 30px;
}

.notifications {
  flex: 0.2;
  display: flex;
  flex-direction: column;
}

input:focus::placeholder {
  color: transparent;
}

.edituser {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edituser > img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 15px;
}

.edituser > input {
  padding-left: 20px;
  height: 40px;
  width: 70%;
  outline: none;
  border: none;
  background: rgb(233, 232, 232);
  border-radius: 15px;
  margin-top: 10px;
}

.edituser > button {
  height: 40px;
  width: 25%;
  outline: none;
  border: 2px solid #fa65b1;
  background: rgb(233, 232, 232);
  border-radius: 15px;
  margin-top: 10px;
}

.edituser > span {
  color: lime;
  margin-top: 10px;
}

.uploadcamera {
  margin-top: 15px;
  font-size: 25px;
  color: #fa65b1;
  cursor: pointer;
}
